body {
	font-family: 'Cairo', sans-serif;
}

h2 {
	font-size: 5rem;
	font-weight: 400;
	color: #007994;
	margin-bottom: 1em;

	span {
		font-weight: 700;
	}
}

h3 {
	font-size: 2.7rem;
	color: #6F6F6E;
}

a {
	color: #317891;
}

.img-responsive {
	width: 100%;
}

nav.navbar {
	margin-bottom: 10em;

	&.navbar-internal {
		margin-bottom: 3em;
		background-color: #DEE5EB;

		.navbar-brand img {
			width: 3em;
		}

		.nav-item.active {
			font-weight: 800;
			a {
				color: #7B8F9D;
			}
			.active-bar {
				background-color: #317891;
				width: 100%;
				height: 5px;
				display: block;
				border-radius: 999em;
			}
		}
	}

	.nav-link {
		text-transform: uppercase;
	}
}

#masterhead {
	margin-bottom: 14em;

	h2 {
		font-size: 3.3rem;
		font-weight: 400;
		color: #007994;

		span {
			font-weight: 700;
		}
	}

	p {
		font-size: 1.3rem;
	}

	#drop {
		svg {
			-webkit-transform: scale(2);
			        transform: scale(2);

      path {
      	fill: #007994;
      }

      circle {
      	fill: #007994;
      }
		}
	}
}

section {
	padding: 3em 0;

	&.grey {
		background-color: #DEE5EB;
	}

	&#partners-desc {

		.p-desc {
			margin-bottom: 5rem;
		}

		img {
			height: 3rem;
			margin-bottom: 1rem;
		}

		h5 {
			color: #6F6F6E;
			font-size: 2rem;
		}
	}
}

.news {
	h4 {
		color: #007994;
		font-weight: 400;
	}

	.btn {
		background: #007994;
		color: #fff;
		border-radius: 0;
	}
}

.card {
	border-radius: 0;
	border: none;
	background-color: #DEE5EB;
	margin-bottom: 2rem;

	.card-border {
		position: absolute;
		left: 15px;
		margin-top: -10px;
		width: calc(100%);

		.col {
			min-height: 10px;
			line-height: 10px;
			background-color: #999;
			border-right: 1px solid #fff;
			
			&:last-of-type {
				border-right: 0px;
			}

			&.cb-teal {
				background-color: #70BAB9;
			}
			&.cb-blue {
				background-color: #3C4C95;
			}
			&.cb-yellow {
				background-color: #F3C147;
			}
			&.cb-green {
				background-color: #7DB24C;
			}
			&.cb-red {
				background-color: #D33D2E;
			}
			&.cb-liblue {
				background-color: #009DDD;
			}
		}
	}

	.card-content {
		padding: 1em;
		color: #444;
		font-size: 1.3rem;
		font-weight: 200;

		h6 {
			font-size: 2.3rem;
			color: #7B8F9D;
		}
	}
}

footer.footer {
	background-color: #6F6F6E;
	padding-top: 3rem;
	min-height: 300px;

	#logo {
		width: 8em;
	}
}
